html,body{
    margin: 0;
    padding: 0;
}

body{
    background: url("https://i.pinimg.com/564x/44/52/ac/4452ac0ba9443f69649dfc6b0a4b8781.jpg");
}

.keyboard{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 17rem;
}

.key{
    width: 6rem;
    height: 6rem;
    margin: 0 6px;
    background: url("https://i.pinimg.com/564x/53/2b/5d/532b5d9f2f7ea49a4925b18be21b2a55.jpg");
    background-size: cover;
}

.key:hover{
    width: 6.5rem;
    box-shadow: 5px 5px 5px wheat;
}
kbd{
    font-size: 2rem;
}
p{
    color: darkmagenta;
}